<div class="card" style="width: 18rem;">
  <img src="{{article.urlToImage}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{article.title}}</h5>
    <p class="card-text">{{article.description}}</p>
    <a href="{{article.url}}" class="btn btn-primary">READ MORE</a>
  </div>
</div>