<form class="mt-4 container"  [formGroup]="formFields" (ngSubmit)="updateUser(formFields.value)">
    <div class="mb-3">
        <label for="username" class="form-label">User Name: </label>
        <input type="text" class="form-control" id="username" 
            name="username" placeholder="Enter your User Name"
            formControlName="username" [(ngModel)]="user.username">


        <label for="company" class="form-label">Company Name: </label>
        <input type="text" class="form-control" id="company" 
        name="company" placeholder="Enter your Company Name"
            formControlName="company" [(ngModel)]="user.company?.name!">
    </div>

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>